<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-DecodeQRImage" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Decode-qr-image</name>
    <js-module name="Decode-qr-image" src="www/Decode-qr-image.js">
        <clobbers target="plugins.decodeQRImage" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DecodeQRImage">
                <param name="android-package" value="com.vitta.DecodeQRImage"/>
            </feature>
        </config-file>
        <source-file src="src/android/com/vitta/DecodeQRImage.java" target-dir="src/com/vitta" />
        <source-file src="src/android/com/vitta/QRCodeDecoder.java" target-dir="src/com/vitta" />
        <framework src="com.google.zxing:core:3.4.0" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="DecodeQRImage">
                <param name="ios-package" value="DecodeQRImage"/>
            </feature>
        </config-file>
        <header-file src="src/ios/DecodeQRImage.h" />
        <source-file src="src/ios/DecodeQRImage.m" />
    </platform>
</plugin>
